/** @format */

$black: #323232;
$darkblack: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: white;
$alabaster: #fafafa;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;

$spacer: 16px;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$nonmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;
